[data-md-color-scheme="slate"] {
  --md-hue: 300;
  --md-default-fg-color: hsla(12, 64%, 89%, 0.918);
  --md-default-fg-color--light: hsl(2, 50%, 45%);
  --md-default-fg-color--lighter: hsl(0, 16%, 89%);
  --md-default-fg-color--lightest: hsla(300, 75%, 90%, 0.12);
  --md-default-bg-color: hsl(300, 0%, 15%);
  --md-default-bg-color--light: hsl(300, 10%, 4%);
  --md-default-bg-color--lighter: hsla(240, 13%, 9%, 0.966);
  --md-default-bg-color--lightest: hsla(300, 12%, 5%, 0.644);

  /* --md-typeset-color: hsla(12, 60%, 49%, 0.918);

  --md-typeset-a-color: hsla(263, 42%, 51%, 0.918);

  --md-typeset-mark-color: hsla(49, 42%, 51%, 0.918); */
}

/* body {
  background-color: #221c1c !important;
} */

article h1 {
  font-weight: 700 !important;
}

article ul {
  list-style: none !important; /* Remove default bullets */
}

article ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(221, 169, 0); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
