[data-md-color-scheme="slate"] {
  --md-hue: 300;
  --md-default-fg-color: hsla(333, 30%, 63%, 0.918);
  --md-default-fg-color--light: hsl(2, 50%, 45%);
  --md-default-fg-color--lighter: hsl(0, 31%, 65%);
  --md-default-fg-color--lightest: hsla(300, 75%, 90%, 0.12);
  --md-default-bg-color: hsl(300, 0%, 15%);
  --md-default-bg-color--light: hsla(var(--md-hue), 15%, 10%, 0.54);
  --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 10%, 0.26);
  --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 10%, 0.07);
}

/* body {
  background-color: #221c1c !important;
} */

/* article h1 {
  color: #f86060 !important;
  font-weight: bolder;
}

h2 {
  color: #ecb7b7;
} */

article ul {
  list-style: none; /* Remove default bullets */
}

article ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(221, 169, 0); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
